@page
@model IndexModel
@{
    GameLib.Database db = new();
    var selectQueryString = "SELECT * FROM Item";
    ViewData["Title"] = "MMORPG - The Armoury";
    @* string connectionString = "Server=40.85.84.155;Database=OOP_VIT;User=Student13;Password=big-bada-boom!;"; *@
}
<section class="ArmouryContainer">
  <div class="ArmouryLeft">
  <div>Helmet</div>
  <div>Chest</div>
  <div>Legs</div>
  
  </div>
  <div class="ArmouryRight">
    <div>Legs</div>
  <div>Boots</div>
  <div>Weapon</div>
  </div>
</section>
